@using Portfolio.Components.Pages
<div class="bg-dark text-white">
    <Container Padding="Padding.Is3" Background="Background.Dark">
        <Row Gap="Gap.Is2" TextAlignment="TextAlignment.Center" TextColor="TextColor.Light" TextDecoration="TextDecoration.None">
        
            <Column ColumnSize="ColumnSize.Is4">
                Benjamin Macaulay Portfolio
            </Column>
        
            <Column>
                <Link To="/" TextDecoration="TextDecoration.None" TextColor="TextColor.Light">Home</Link>
            </Column>
        
            <Column>
                <Link To="/portfolio" TextDecoration="TextDecoration.None" TextColor="TextColor.Light">Portfolio</Link>
            </Column>
        
            <Column>
                <Link To="/blog" TextDecoration="TextDecoration.None" TextColor="TextColor.Light">Blog</Link>
            </Column>
        
        </Row>
    </Container>    
</div>
