@using Portfolio.Components.Pages
<div class="bg-dark text-white">
    <Container Padding="Padding.Is3" Background="Background.Dark">
        <Row Gap="Gap.Is2" TextAlignment="TextAlignment.Center">
        
            <Column ColumnSize="ColumnSize.Is4">
                Benjamin (Solar) Macaulay Portfolio
            </Column>
        
            <Column>
                <Link To="/">Home</Link>
            </Column>
        
            <Column>
                <Link To="/about">Portfolio</Link>
            </Column>
        
            <Column>
                <Link To="/blog">Blog</Link>
            </Column>
        
        </Row>
    </Container>    
</div>
